# IMPORT LIBARY | MODUL A

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import tkinter as tk

# IMPORT DATASET

In [ ]:
# Membuat variable data path untuk menuju ke direktori dataset disimpan
data_path = 'datasets/DATA RUMAH.csv'
# Menggunakan pandas untuk membaca data csv dari variable data path
df = pd.read_csv(data_path) 
# Menampilkan 10 data teratas dari dataset
df.head(10)

CEK DIMENSI DATA

In [ ]:
# Melihat dimensi data
dimension = df.shape
print(f"Dimensi dari data : {dimension}")

MELIHAT TIPE DATA SETIAP KOLOM

In [ ]:
# Melihat tipe data pada setiap kolom
df.info()

MENENTUKAN NAMA FITUR

In [ ]:
df.columns

In [ ]:
# Melihat deskripsi data pada setiap kolom
df.describe()

MENANGANI DATA YANG BERMASALAH

In [ ]:
# Fungsi untuk melihat jumlah data duplikat dan data kosong
count_duplicated = df.duplicated().sum() 
print(f"Jumlah data duplikat : {count_duplicated}")


count_missing_value = df.isna().sum().sum()
print(f"Jumlah Data Kosong atau missing value :  {count_missing_value}")

In [ ]:
# Untuk menangani apabila terdapat missing value 
if count_missing_value > 0:
     for x in df.columns:
          if df[x].dtype == 'object':
               df[x] = df[x].fillna().mode()[0]
               print('data dengan type object sudah ditangani')
          else:
               df[x] = df[x].fillna().mean()
               print('data dentgan type numerik sudah ditangani')
else:
     print('Tidak ada data yang perlu ditangani')

In [ ]:
# Menghapus apabila terdapat data duplikat
df = df.drop_duplicates()

In [ ]:
df = df.drop(columns=['NO', 'NAMA RUMAH'], axis=1)

MENENTUKAN FITUR (X) DAN LABEL (Y)

In [ ]:
# Menentukan label x dan y
x = df[['LB', 'LT', 'KT', 'KM', 'GRS']]
y = df['HARGA']

In [ ]:
def normalisasi_numerik(X):
    return (X - X.min() / X.max() - X.min())

In [ ]:
for x in df.columns:
    df[x] = normalisasi_numerik(df[x])

In [ ]:
# Cek Data setelah di normalisasi
df.head()

# EXPLORATORY DATA ANALYS | MODUL A

In [ ]:
plt.figure(figsize=(10, 6))
plt.title('Statistik Deskriptif Harga Rumah')
sns.histplot(data=df, x='HARGA', bins=5, kde=True)

plt.title("Distribusi Harga Rumah")
plt.xlabel("Harga Rumah (Rupiah)")
plt.ylabel("Frekuensi")
plt.show()

In [ ]:
# Korelasi Harga rumah dengan luas bangunan 
plt.figure(figsize=(10, 6))
plt.title("Korelasi Harga rumah dengan luas bangunan")

sns.scatterplot(data=df, x='LB', y='HARGA')
plt.ylabel("Harga Rumah (rupiah)")
plt.xlabel("Luas Bangunan")
plt.show()

In [ ]:
# Korelasi harga rumah dengan luas tanah 
plt.figure(figsize=(10, 6))
plt.title("Korelasi harga rumah dengan luas tanah")
sns.scatterplot(data=df, y='HARGA', x='LT')
plt.ylabel('Harga Rumah (rupiah)')
plt.xlabel('Luas Tanah')

In [ ]:
# Korelasi Jumlah Kamar tidur dengan harga rumah 
plt.figure(figsize=(10, 6))
plt.title("Korelasi harga rumah dengan jumlah kamar tidur")
sns.scatterplot(data=df, x='KT', y="HARGA")
plt.xlabel("Jumlah Kamar")
plt.ylabel("Harga Rumah")

In [ ]:
# Korelasi Jumlah Kamar Mandi Dengan Harga Rumah 
plt.figure(figsize=(10, 6))
plt.title("Korelasi harga rumah dengan jumlah kamar mandi")
sns.scatterplot(data=df, x='KM', y='HARGA')
plt.xlabel("Jumlah Kamar Mandi")
plt.ylabel("Harga Rumah")
plt.show()

In [ ]:
plt.figure(figsize=(10, 8))
plt.title("Korelasi harga rumah dengan jumlah garasi")
sns.scatterplot(data=df, x='GRS', y='HARGA')
plt.xlabel("Jumlah Garasi")
plt.ylabel("Harga Rumah (rupiah)")